<div class="modal-header">
  <h5 class="modal-title pull-left">Cadastro de Beneficiário</h5>
</div>
<div class="modal-body">
  <mat-dialog-content [formGroup]="form">
    <mat-form-field class="form-full-width">
      <input matInput placeholder="Nome" name="nome" formControlName="nome">
    </mat-form-field>
    <mat-form-field  class="form-dual">
      <input matInput placeholder="Email" name="e-mail" formControlName="email" email>
    </mat-form-field>
    <mat-form-field class="form-dual">
      <input matInput placeholder="Cpf" name="cpf" formControlName="cpf">
    </mat-form-field>
    <mat-form-field  class="form-dual">
      <input matInput placeholder="Saldo Aposentadoria" name="saldoAposentadoria" formControlName="saldoAposentadoria"  type="number" step="0.01" min="0.01">
    </mat-form-field>
    <mat-form-field  class="form-dual">
      <input matInput placeholder="Anos para Aposentadoria" name="anosAposentadoria" formControlName="anosAposentadoria">
    </mat-form-field>
  </mat-dialog-content>
</div>
<div class="modal-footer">
  <div mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="fecharModal()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="salvar()" [disabled]="form.invalid">Salvar</button>
  </div>
</div>
